/* paragraphs */
/* background, headings, buttons */
body {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
  width: 920px;
}

.item {
  height: 500px;
  width: 307px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.item-orange {
  background-color: #e38826;
  border-radius: 8px 0 0 8px;
}
.item-dark {
  position: relative;
  background-color: #006970;
  border-radius: 8px;
  left: -5px;
}
.item-very {
  position: relative;
  background-color: #004241;
  border-radius: 0 8px 8px 0;
  left: -5px;
}
.item__text {
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
  line-height: 25px;
}
.item__title {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  color: #f2f2f2;
  font-size: 40px;
}
.item__button {
  background-color: #f2f2f2;
  width: 146px;
  height: 48px;
  border-radius: 25px;
  border: none;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}

.button-bright-orange {
  color: #e38826;
}

.button-dark-cyan {
  color: #006970;
}

.button-very-dark-cyan {
  color: #004241;
}