$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);
$transparent-white: hsla(0, 0%, 100%, 0.75); /* paragraphs */
$very-light-gray: hsl(0, 0%, 95%); /* background, headings, buttons */

$font-family-primary: "Lexend Deca", sans-serif;
$font-family-secondary: "Big Shoulders Display", cursive;

$font-size-regular: 15px;
$font-size-title: 40px;

body {
    margin: 0;
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: $very-light-gray;
    @include media(mobile-only) {
        width: auto;
        height: auto;
    }
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-bright-orange {
    color: $bright-orange;
}

.button-dark-cyan {
    color: $dark-cyan;
}

.button-very-dark-cyan {
    color: $very-dark-cyan;
}
